*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup{
    width: 250px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: 0.5px solid tomato;
    margin: 3px 0;
}

.star{
    color: gold;
}

.logout{
    border: none;
    margin-top: 10px;
    margin-left: 92%;
    padding: 5px;
    border-radius: 5px;
    color: white;
    position: absolute;
    cursor: pointer;
    background-color: blueviolet;
}